{% include content-runtime/00-config.html %}
<script>
  window.ContentRuntime = (function () {
    'use strict';
{% include content-runtime/10-utils.html %}
{% include content-runtime/30-includes.html %}
{% include content-runtime/30-includes-bib.html %}
{% include content-runtime/30-includes-xcite.html %}
{% include content-runtime/20-markdown.html %}
{% include content-runtime/25-code-blocks.html %}
{% include content-runtime/50-detail.html %}
{% include content-runtime/55-toc.html %}
{% include content-runtime/40-listing.html %}
{% include content-runtime/60-fragments.html %}
{% include content-runtime/41-listing-helpers.html %}
{% include content-runtime/42-listing-filter.html %}
{% include content-runtime/43-blocks.html %}
{% include content-runtime/90-bootstrap.html %}
  })();
</script>
